<section class="section about" id='about'>
    <div class="container">
        <div class="section-box">
            <div class="about-title" data-aos="fade-up">
                <h3 class="section-title">
                    <span class='n-section-title'>01.</span> About Me
                </h3>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 mb-4 mb-md-0">
                    <div class="about-description">
                        <p *ngFor='let text of paragraphs' [innerHTML]="text" data-aos="fade-up"
                            data-aos-duration="1000">
                        </p>
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <div class="about-description">
                                    <span class='underline'> Core Skills </span>
                                </div>
                                <ul class="skills-list" data-aos="fade-up">
                                    <li *ngFor="let skill of skills" class="skill-element" data-aos="fade-up"
                                        data-aos-duration="1000">
                                        <span class="underline">{{skill}}</span>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <div class="about-description">
                                    <span class='underline'> Other Skills </span>
                                </div>
                                <ul class="skills-list" data-aos="fade-up">

                                    <li *ngFor="let other of otherSkills" class="skill-element" data-aos="fade-up"
                                        data-aos-duration="1000">
                                        <span class="underline">{{other}}</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-4 mt-md-0 text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="about-img-container">
                        <img width="300" height="300" src="assets/images/me/mario.svg" alt="Git User">
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>